<!DOCTYPE html>
<html>

<head>

    <title>Halima Rahimi</title>

</head>

<body>

    <h2>Zoek op snelheid</h2>
    <br /><br />
    <form action='/snelheid' method='POST'>
        <span>
            <b>snelheid : </b>
            <input type='integer' name='int'>
        </span>
        <span>
            <button type='submit'>Search</button>
        </span>
    </form>
    <a href='/list'>list</a><br />
    <a href='/overtreding'>overtreding</a><br />
    <a href='/snelheid'>snelheid</a><br />
</body>

</html>